**/.vscode/**
**/node_modules/**
**/src/**
**/.gitignore
**/tsconfig.json
**/.eslintrc.json
**/vsc-extension-quickstart.md
**/.vscode-test/**
**/.env*
**/.git/**
**/agents/*.json
**/images/icon.svg
!images/icon.svg
.gitignore
